#root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.container{
    width: 50rem;
    height: 35rem;
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
}


