#root {
margin: 0;
padding: 0;
width: 100%;
height: 100vh;
background-color: rgb(255, 255, 255);

}

li{
    font-size: 1.5rem!important;
    color: rgb(0, 0, 0)!important;
    list-style: none;
}

h1 {
    font-size: 5rem !important;
    color: rgb(0, 0, 0)!important;   
}

img {
    width: 20rem;
}

h2 {
    font-size: 2.5rem !important;
    color: rgb(0, 0, 0)!important;   
}

.nl{
    font-size: 1.5rem!important;
    color: rgb(0, 0, 0) !important;
    text-decoration: none;
}

label{
    font-size: 1.5rem!important;
    color: rgb(0, 0, 0) !important;
}