#root {
margin: 0;
padding: 0;
width: 100%;
height: 100vh;
background-color: rgb(120, 248, 199);

align-content: center;
text-align: center  ;
}


li{
    font-size: 1.5rem!important;
    color: rgb(0, 0, 0)!important;
    list-style: none;
}

h1 {
    margin: 20rem;
    font-size: 5rem !important;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif!important;
    color: rgb(0, 0, 0)!important;   
}

h2 {
    font-size: 2.5rem !important;
    color: rgb(0, 0, 0)!important;   
}

.nl{
    font-size: 1.5rem!important;
    color: rgb(0, 0, 0) !important;
    text-decoration: none;
}

label{
    font-size: 1.5rem!important;
    color: rgb(0, 0, 0) !important;
}