#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(253, 130, 130);
  align-content: center;
  text-align: center;

}

h1{
  font-size: 5 rem !important;
  color: white !important;
  font-weight: bolder !important;
}